/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 248, 220, 0.3);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 2%;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    padding-top: 0;
  }
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  nav a {
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    font-size: 2.5rem;
  }
}
nav a:hover {
  color: gray;
}
header {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/images/weddingHero3.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  header {
    height: 100vh;
  }
}
header .hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  header .hero {
    margin: 0;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  header .hero div {
    margin-top: 35%;
  }
}
@media (max-width: 500px) {
  header .hero h1 {
    font-size: 6rem;
  }
}
header .hero h2 {
  padding: 20px;
}
header .hero .callToAction {
  background: Transparent;
  color: white;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  outline: none;
}
header .hero .callToAction:hover {
  border: none;
}
#process {
  text-align: center;
}
#process h2 {
  padding: 20px;
}
#process .processContainer {
  display: flex;
  margin: 1%;
}
@media (max-width: 500px) {
  #process .processContainer {
    flex-flow: column wrap;
  }
}
#process .processContainer div {
  margin: 1%;
  background: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  #process .processContainer div {
    padding: 2%;
  }
}
#process .processContainer div h3 {
  font-size: 2rem;
  padding: 10px;
}
#portfolio {
  text-align: center;
  margin: 2%;
  padding-bottom: 2%;
  border-top: 1px solid rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  #portfolio {
    margin-top: 5%;
  }
}
#portfolio h2 {
  padding: 20px;
}
#portfolio .portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  #portfolio .portfolioContainer {
    flex-direction: column;
    align-items: center;
  }
}
#portfolio .portfolioContainer div {
  border-radius: 20px;
  background: #f2f2f2;
  width: 30%;
  height: auto;
  margin: 1.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
}
@media (max-width: 500px) {
  #portfolio .portfolioContainer div {
    width: 80%;
    margin: 3%;
  }
}
#portfolio .portfolioContainer div:hover {
  transform: scale(1.1);
}
#portfolio .portfolioContainer div p {
  padding: 1%;
}
#portfolio .portfolioContainer div details summary {
  padding: 2%;
  font-size: 1.5rem;
}
#contact {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contactContainer {
  width: 50%;
}
@media (max-width: 500px) {
  #contact .contactContainer {
    width: 90%;
  }
}
#contact form {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2f2f2;
  padding: 20px;
  margin: 1%;
  flex-flow: column wrap;
}
#contact form input[type="text"],
#contact form select,
#contact form textarea {
  width: 85%;
  padding: 12px;
  border: 1px solid #212529;
  border-radius: 20px;
  outline: none;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#contact form input[type="submit"] {
  background: Transparent;
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  border: 1px solid #212529;
  border-radius: 10px;
  width: 15%;
  text-align: center;
  cursor: pointer;
}
#contact form input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: #FFFFFF;
}
footer {
  margin-top: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/images/weddingHero3.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
footer nav {
  margin: 0 30%;
}
footer nav i {
  text-decoration: none;
  font-size: 4rem;
  color: white;
}
@media (max-width: 500px) {
  footer nav {
    display: none;
  }
}
footer p {
  padding: 1%;
  text-align: center;
  color: #FFFFFF;
}
.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/images/aboutHeader.jpg");
}
@media (max-width: 500px) {
  .about h1 {
    margin-top: 15%;
  }
}
.aboutContent {
  width: 100%;
}
.aboutContent .aboutContainer {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .aboutContent .aboutContainer {
    flex-direction: column;
    align-items: center;
  }
}
.aboutContent .aboutContainer .card {
  width: 25%;
  margin: 2% 4%;
  padding: 1%;
  text-align: center;
  background: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
@media (max-width: 500px) {
  .aboutContent .aboutContainer .card {
    width: 80%;
    margin: 3%;
    padding: 20px;
  }
}
.aboutContent .aboutContainer .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 2%;
}
.aboutContent .aboutContainer .card h3 {
  font-size: 2rem;
}
.aboutContent .aboutContainer .card p {
  padding: 1%;
}
.aboutContent .aboutContainer .card a {
  padding-top: 2%;
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
