// Footer Styles
footer{
    border-top: 1px solid @border-color;
    margin-top: 20px;
    background: @footer-bg;

    nav a{
        color: black;
    }

    p {
        padding: 1%;
        text-align: center;
    }
}