// header styles include hero img
header {
	//Backgroundimg
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/images/weddingHero3.jpeg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.hero {
		width: 100vh;
		height: 100vh;
		margin: 0 22%;
		.flex(center, center);
        text-align: center;
        color: white;

		@media @mobile {
			margin: 0;
			width: 100%;
			align-items: flex-start;
		}

		div{
			@media @mobile {
				margin-top: 10%;
			}
		}



		h1 {
			font-size: 7rem;

			@media @mobile{
				font-size: 6rem;
			}
		}

		h2 {
			font-size: 3rem;
			padding: 20px;
		}
		.callToAction {
            .button();
            outline: none;
            
            &:hover{
                border: none;
            }
		}
	}
}
