// Mixin-it-up 

// General Flex
.flex (@justify, @align){
    display: flex; 
    justify-content: @justify;
    align-items: @align;
}

.border(){
    border: 1px solid @border-color;
    border-radius: 20px;
}

.button (@bg: Transparent, @fontColor: white, @fontSize: 2rem, @padding: 10px){
    background: @bg;
    color: @fontColor;
    font-size: @fontSize;
    padding: @padding;
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

.sendButton (@bg: Transparent, @fontColor: black, @fontSize: 1.5rem, @padding: 10px){
    background: @bg;
    color: @fontColor;
    font-size: @fontSize;
    padding: @padding;
    border: 1px solid @border-color;
    border-radius: 10px;
    width: 15%;
    text-align: center;
}