// Portfolio Styles

#portfolio {
	text-align: center;
	margin: 2%;
	padding-bottom: 2%;
	border-top: 1px solid rgba(0, 0, 0, 0.19);
	border-bottom: 1px solid rgba(0, 0, 0, 0.19);

	@media @mobile {
		margin-top: 5%;
	}

	h2 {
		padding: 20px;
	}

	.portfolioContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		@media @mobile {
			flex-direction: column;
			align-items: center;
		}

		div {
			border-radius: 20px;
			background: @card-bg;
			width: 30%;
			height: auto;
			margin: 1.5%;
			// padding: 1%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: transform 0.2s;

			@media @tablet {
				width: 40%;
				margin: 3%;
			}

			@media @mobile {
				width: 80%;
				margin: 3%;
			}

			&:hover {
				transform: scale(1.1);
			}

			p {
				padding: 1%;
			}

			details {
				summary {
					cursor: pointer;
					outline: none;
					border: none;
					padding: 2%;
					font-size: 1.5rem;
				}
			}
		}
	}
}
