#process{
    text-align: center;

    .processContainer{
        display: flex;
        margin: 1%;

        div {
            margin: 1%;
            border: 1px solid grey;
            border-radius: 20px;

            h3{
                font-size: 2rem;
                padding: 10px;
            }
        }
    }

    
}