//Portfolio Styles

#process{
    text-align: center;

    h2{
        padding: 20px;
    }

    .processContainer{
        display: flex;
        margin: 1%;

        div {
            margin: 1%;
            .border();
            background: @card-bg;

            h3{
                font-size: 2rem;
                padding: 10px;
            }
        }
    }

    
}