// Color assignments
@main-bg-color: @cornsilk;
@card-bg: @white;
@font-color: @shark;
@border-color: @shark;
@nav-bar: @white;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@shark: #212529;
@sandy-beach: #FFEBCD;
@blanchedalmond: #FFEBCD;
@cornsilk: #FFF8DC;



// Media Queries 
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width; 800px)";